.btn-primary {
  background-color: #4b006e;
  border-color: #4b006e;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:disabled,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:focus-visible {
  background-color: #800080 !important;
  border-color: #800080 !important;
}

.btn-outline-secondary {
  border-color: #4b006e;
}